<div class="panel panel-success">
  <div class="panel-body">
    <h2 class="text-center">Tasks To Do</h2>
    <%= render 'tasks/form' %>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th> &lt;<span class="pcode">ol</span>&gt;</th>
          <th>OK 200</th>
          <th>Time.inspect</th>
        </tr>
      </thead>
      <tbody class="tasks">
        <%= render @tasks %>
      </tbody>
      <tfoot>
        <tr>
          <th> &lt;<span class="pcode">/ol</span>&gt;</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
