<div class="panel panel-success">
  <div class="panel-body">
    <h2 class="text-center">Tasks To Do</h2>
    <br>
    <table class="table table-striped table-hover ">
      <thead>
        <tr>
          <th>0 &lt;<span class="pcode">ol</span>&gt;</th>
          <th>Accomplished</th>
        </tr>
      </thead>
      <tbody>
        <%= render "task" %>
      </tbody>
    </table>
  </div>
</div>
<%= link_to "Create", new_task_path, class: "btn btn-success btn-block" %>
