<h4>
  &lt;
  <span class="pcode">a </span>
  <span class="ocode">class=</span>
  <span class="gcode">"alert"</span>
  &gt;
  <span class="bcode"> <%= @expiring_tasks %> </span>
  &lt;
  <span class="pcode">/a</span>
  &gt;
</h4>
