<div class="panel panel-success">
  <div class="panel-body">
    <h2 class="text-center">My Profile</h2>
    <br>
    <h4>&lt;<span class="pcode">name</span>&gt;<span class="bcode"> <%= current_user.username %> </span>&lt;<span class="pcode">/name</span>&gt;</h4>
    <br>
    <h4>&lt;<span class="pcode">email</span>&gt;<span class="bcode"> <%= current_user.email %> </span>&lt;<span class="pcode">/email</span>&gt;</h4>
    <br>
    <h4>&lt;<span class="pcode">tasks</span>&gt;</h4>
    <h4 style="text-indent: 3em;">&lt;<span class="pcode">done</span>&gt;<span class="bcode"> 12 </span>&lt;<span class="pcode">/done</span>&gt;</h4>
    <h4 style="text-indent: 3em;">&lt;<span class="pcode">to-do</span>&gt;<span class="bcode"> 6 </span>&lt;<span class="pcode">/done</span>&gt;</h4>
    <h4>&lt;<span class="pcode">/tasks</span>&gt;</h4>
    <br>
    <h4>&lt;<span class="pcode">a </span><span class="ocode">class=</span><span class="gcode">"alert"</span>&gt;<span class="bcode"> 2 tasks expiriring </span>&lt;<span class="pcode">/a</span>&gt;</h4>
    <br>
  </div>
</div>
<p><%= link_to " Tasks", tasks_path, :class => 'btn btn-success btn-lg btn-block glyphicon glyphicon-console' %></p>
